apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .DeploymentName }}
    instance: "{{ .Number }}"
{{- if .LBIP }}
  annotations:
    io.cilium/lb-ipam-ips: "{{ .LBIP }}"
{{- end }}
spec:
  type: LoadBalancer
{{- if .LBIP }}
  loadBalancerIP: {{ .LBIP }}
{{- end }}
  externalTrafficPolicy: Cluster
  selector:
    app: {{ .DeploymentName }}
  ports:
    - name: game
      port: 2456
      targetPort: 2456
      protocol: UDP
    - name: query
      port: 2457
      targetPort: 2457
      protocol: UDP
    - name: status
      port: 9001
      targetPort: 9001
      protocol: TCP
