apiVersion: v1
kind: Service
metadata:
  name: {{ .ServiceName }}
  namespace: {{ .Namespace }}
  labels:
    app: {{ .DeploymentName }}
    instance: "{{ .Number }}"
{{- if .LBIP }}
  annotations:
    io.cilium/lb-ipam-ips: "{{ .LBIP }}"
{{- end }}
spec:
  type: LoadBalancer
{{- if .LBIP }}
  loadBalancerIP: {{ .LBIP }}
{{- end }}
  externalTrafficPolicy: Cluster
  selector:
    app: {{ .DeploymentName }}
  ports:
    - name: game
      port: 27015
      targetPort: 27015
      protocol: UDP
    - name: rcon
      port: 27015
      targetPort: 27015
      protocol: TCP
