apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .SlotCMName }}
  namespace: minecraft-modded
  labels:
    app: {{ .DeploymentName }}
    instance: "{{ .Number }}"
  annotations:
{{- range $k, $v := .Annotations }}
    {{ $k }}: {{ quote $v }}
{{- end }}
data:
{{- range $k, $v := .Env }}
    {{ $k }}: {{ quote $v }}
{{- end }}
